/* General Reset */
body {
    font-family: 'Arial', sans-serif;
    background-color: #282727;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
    height: 100vh;           /* Full screen height */
    margin: 0;
    flex-direction: column;
}

/* The Main Card */
.container {
    background: white;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.tasks {
    background: white;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.header {
    color:white;
    width: 350px;
    padding: 20px;
    border-radius: 0px;
    text-align: center;
    font: bold 24px 'Times New Roman';

}

h2 {
    text-align: center;
    color: #333;
}

/* Input and Button Area */
.input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    flex-grow: 1; 
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

button  {
    padding: 10px 15px;
    background-color: white; 
    color: #ddd solid;
    border: 1px #ddd  solid;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    
}

button:hover {
    background-color: #28a745;
    color: white;
}

/* The List Items */
ul {
    list-style: none;
    padding: 0;
}

li {
    background: #fff;
    border-bottom: 1px solid #eee;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

li:hover {
    background-color: #fafafa;
}

/* Style for completed tasks */
li.checked {
    text-decoration: line-through;
    color: #888;
}